<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome</h1>
    <br>
    <p>Hello <%= @user.email %> and welcome to this sample Rails App!</p>
  </body>
</html>
